body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}

/* Add animation */
.user-repeat-animation.ng-enter.ng-enter-active,
.user-repeat-animation.ng-leave {
    opacity: 1;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

/* Remove animation */
.user-repeat-animation.ng-leave.ng-leave-active,
.user-repeat-animation.ng-enter {
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}
